body{
    background-color: black;
    color: beige;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
    color: azure;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    color: wheat;
}
p{
    line-height: 5px;
}
img{
    border: 5px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}
li{
    margin-left: 50px;
    display: inline-block;
}